In [2]:
#Write your code here
import pandas as pd

df_data = pd.read_csv("Data/Purchase_Data.csv")

print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

In [3]:
#Write your code here
print(df_data.dtypes)

invoice_number    float64
invoice_time       object
store_id           object
product_id          int64
category_id         int64
num_item          float64
price             float64
dtype: object

In [4]:
#Write you code here
result_1 = df_data.loc[:, :'invoice_time']

print(result_1)

      invoice_number   invoice_time
0       2.020000e+11  7/15/15 10:45
1       2.020000e+11  7/15/15 12:16
2       2.020000e+11  7/15/15 12:16
3       2.020000e+11  7/15/15 12:16
4       2.020000e+11  7/15/15 12:16
...              ...            ...
5377    2.020000e+11   9/5/15 23:07
5378    2.020000e+11   9/5/15 23:23
5379    2.020000e+11   9/5/15 23:24
5380    2.020000e+11   9/5/15 23:32
5381    2.020000e+11   9/5/15 23:38

[5382 rows x 2 columns]

In [5]:
#Write you code here
result_2 = df_data.loc[:1]

print(result_2)

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0

   price
0    2.0
1    2.0

In [6]:
#Write your code here
result_3 = df_data.iloc[:4, :5]

print(result_3)

   invoice_number   invoice_time store_id  product_id  category_id
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401

In [7]:
#Write your code here
result_4 = df_data.loc[[0, 4, 6], ['invoice_time', 'price']]

print(result_4)

    invoice_time  price
0  7/15/15 10:45    2.0
4  7/15/15 12:16    6.0
6  7/15/15 15:28    2.0

In [8]:
num_rows = df_data.shape[0]

print(num_rows)

5382

In [9]:
#Write your code here
last_row = df_data.iloc[num_rows -1]

print(last_row)

invoice_number    202000000000.0
invoice_time        9/5/15 23:38
store_id                    G619
product_id              23030206
category_id               210101
num_item                     1.0
price                        2.0
Name: 5381, dtype: object

In [10]:
#Write your code here
avg_price = df_data['price'].mean()
max_price = df_data['price'].max()

print("Average price:", avg_price)
print("Max price:", max_price)

Average price: 3.1920522110741363
Max price: 6.01

In [11]:
#Write you code here
avg_price, avg_num_items = df_data[['price', 'num_item']].mean()

print("Average price:", avg_price)
print("Average number of items purchased:", avg_num_items)

Average price: 3.1920522110741363
Average number of items purchased: 1.2983091787439613

In [12]:
#Write your code here
df_data['total'] = df_data['price'] * df_data['num_item']

print(df_data)

      invoice_number   invoice_time store_id  product_id  category_id  \
0       2.020000e+11  7/15/15 10:45     G816     7000300       210101
1       2.020000e+11  7/15/15 12:16     G816     7070884        70203
2       2.020000e+11  7/15/15 12:16     G816     7070884        70203
3       2.020000e+11  7/15/15 12:16     G816     7070891        70401
4       2.020000e+11  7/15/15 12:16     G816     7090363        70401
...              ...            ...      ...         ...          ...
5377    2.020000e+11   9/5/15 23:07      300     7308017       210101
5378    2.020000e+11   9/5/15 23:23     G619     7070891        70401
5379    2.020000e+11   9/5/15 23:24     G619     7071096        70201
5380    2.020000e+11   9/5/15 23:32     G619    15000231        70301
5381    2.020000e+11   9/5/15 23:38     G619    23030206       210101

      num_item  price  total
0          1.0    2.0    2.0
1          1.0    2.0    2.0
2          1.0    2.0    2.0
3          1.0    6.0    6.0
4          1.0    6.0    6.0
...        ...    ...    ...
5377       1.0    3.0    3.0
5378       1.0    6.0    6.0
5379       1.0    5.0    5.0
5380       2.0    2.0    4.0
5381       1.0    2.0    2.0

[5382 rows x 8 columns]

In [13]:
#Write your code here
sorted_df = df_data.sort_values(by='price', ascending=False)

top_three_expensive = sorted_df.head(3)

avg_price_top_three = top_three_expensive['price'].mean()

print("Average price of the three most expensive purchases:", avg_price_top_three)

Average price of the three most expensive purchases: 6.003333333333333

In [14]:
#Write your code here
num_unique_products = df_data['product_id'].nunique()

print("Number of different products:", num_unique_products)

Number of different products: 53

In [15]:
#Write your code here
total_stats = df_data['total'].describe()

mean_total = total_stats['mean']
median_total = total_stats['50%']  

# Calculate the difference between the mean and median
difference = mean_total - median_total

print("Difference between mean and median of the column 'total':", difference)

Difference between mean and median of the column 'total': 0.9318078781127839

In [16]:
#Write your code here
df_data = df_data.drop('total', axis = 1)
print(df_data)

      invoice_number   invoice_time store_id  product_id  category_id  \
0       2.020000e+11  7/15/15 10:45     G816     7000300       210101
1       2.020000e+11  7/15/15 12:16     G816     7070884        70203
2       2.020000e+11  7/15/15 12:16     G816     7070884        70203
3       2.020000e+11  7/15/15 12:16     G816     7070891        70401
4       2.020000e+11  7/15/15 12:16     G816     7090363        70401
...              ...            ...      ...         ...          ...
5377    2.020000e+11   9/5/15 23:07      300     7308017       210101
5378    2.020000e+11   9/5/15 23:23     G619     7070891        70401
5379    2.020000e+11   9/5/15 23:24     G619     7071096        70201
5380    2.020000e+11   9/5/15 23:32     G619    15000231        70301
5381    2.020000e+11   9/5/15 23:38     G619    23030206       210101

      num_item  price
0          1.0    2.0
1          1.0    2.0
2          1.0    2.0
3          1.0    6.0
4          1.0    6.0
...        ...    ...
5377       1.0    3.0
5378       1.0    6.0
5379       1.0    5.0
5380       2.0    2.0
5381       1.0    2.0

[5382 rows x 7 columns]

In [17]:
#Write your code here
df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])

print(df_data.dtypes)

C:\Users\angel\AppData\Local\Temp\ipykernel_8000\385408952.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])

invoice_number           float64
invoice_time      datetime64[ns]
store_id                  object
product_id                 int64
category_id                int64
num_item                 float64
price                    float64
dtype: object

In [18]:
#Write your code here
df_data['DOW'] = df_data['invoice_time'].dt.weekday
df_data['Month'] = df_data['invoice_time'].dt.month

print(df_data.head())

   invoice_number        invoice_time store_id  product_id  category_id  \
0    2.020000e+11 2015-07-15 10:45:00     G816     7000300       210101
1    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
2    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
3    2.020000e+11 2015-07-15 12:16:00     G816     7070891        70401
4    2.020000e+11 2015-07-15 12:16:00     G816     7090363        70401

   num_item  price  DOW  Month
0       1.0    2.0    2      7
1       1.0    2.0    2      7
2       1.0    2.0    2      7
3       1.0    6.0    2      7
4       1.0    6.0    2      7

In [19]:
#Write your code here
weekday_counts = df_data['DOW'].value_counts()
num_purchases_wed = weekday_counts[2]

print("Number of purchases made on Wednesday", num_purchases_wed)

Number of purchases made on Wednesday 959

In [20]:
#Write your code here
import pandas as pd

df_data = pd.read_csv("Data/Titanic.csv")

print(df_data.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [21]:
#Write your code here
df_data = df_data.rename(columns = {'Name': 'Passenger_Name', 'Ticket': 'Ticket_Num'})

print(df_data.head())

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

In [22]:
#Write your code here
df_data.set_index('PassengerId', inplace=True)

print(df_data.head())

             Pclass                                Passenger_Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

              Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
PassengerId
892          34.5      0      0     330911   7.8292   NaN        Q
893          47.0      1      0     363272   7.0000   NaN        S
894          62.0      0      0     240276   9.6875   NaN        Q
895          27.0      0      0     315154   8.6625   NaN        S
896          22.0      1      1    3101298  12.2875   NaN        S

In [23]:
#Write your code here
passenger_896 = df_data.loc[896, 'Passenger_Name']

print("Passenger 896's name is:", passenger_896)

Passenger 896's name is: Hirvonen, Mrs. Alexander (Helga E Lindqvist)

In [24]:
#Write your code here
df_data.reset_index(inplace=True)

print(df_data.head())

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

In [25]:
#Write you code here
missing_age = df_data['Age'].isnull().sum()

print("Number of missing Age entries:", missing_age)

Number of missing Age entries: 86

In [26]:
#Write your code here
avg_age = df_data['Age'].mean()

print("The average age of passengers(ignoring the missing data):", avg_age)

The average age of passengers(ignoring the missing data): 30.272590361445783

In [27]:
#Write your code here
mean_age = df_data['Age'].mean()

df_data['Age'].fillna(mean_age)

print(df_data)

     PassengerId  Pclass                                Passenger_Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch          Ticket_Num      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

In [28]:
#Write your code here
sorted_df_data = df_data.sort_values(by='Age', ascending=False)

five_oldest_passengers = sorted_df_data.head(5)

oldest_ave_age = five_oldest_passengers['Age'].mean()

print("Average age of the 5 most oldest passengers is:", oldest_ave_age)

Average age of the 5 most oldest passengers is: 67.0